pip install datetime
pip install mysql.connector
pip install pandas
pip install requests
pip install numpy
pip install bs4
pip install sportsreference
pip install sqlalchemy
pip install pyopenssl ndg-httpsclient pyasn1 #for possible connection error
npm install chart.js
